$purple: #371e66;
$white: #ffffff;
$pink: #f58ed8;
$black: #000000;

footer{
    background-color: $purple;
    color: $white;
    padding: 5%;

    .githubChip{
        background-color: $white;
    }
    .socialMediaIcon{
        color: $black;
        height: 2.5rem;
        width: 2.5rem;
    }
    .stackSigaNos{
        margin-left: 38%;
        margin-top: 5%;
    }
    .sendEmail{
        color: $white;
    }
    .gridItem{
        display: flex;
    }
    .title, .email{
        font-size: 1.25rem;
    }
    .stackSigaNos .sigaNos {
        background-color: $pink;
        color: $black;
        padding: 1.25rem 1rem 1.25rem 1rem;
        font-size: 1rem;
    }
    .gridItem .socialMedia{
        background-color: $white;
        border-radius: 5rem;
        padding: 4%;
        margin: 5%;
    }
}
