footer{
    background-color: #371e66;
    color: #ffffff;
}

footer .githubChip{
    background-color: #ffffff;
}

footer .socialMediaIcon{
    color: #000000;
}

footer .sigaNos {
    background-color: #f58ed8;
    color: #000000;
    padding: 5%;
}

footer .sendEmail{
    color: #ffffff;
}
